<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<%= render :partial => 'spree/shared/error_messages', locals: { target: @rgpd } %>

<% content_for :page_title do %>
  <%= Spree.t(:rgpd_translations) %>
<% end %>

<% content_for :page_actions do %>
	<li>
    <%= button_link_to Spree.t(:back_to_rgpd_list),  spree.admin_rgpds_path, :id => 'admin_edit_rgpd_link', icon: 'arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @rgpd } %>


<%= render 'form' %>