<div class="field" id=<%="#{type}accept_terms_and_conditions" %>>
  <%= f.label :accept_terms_and_conditions, Spree.t(:admin_accept_terms_and_conditions) %>
  <%= f.check_box :accept_terms_and_conditions %>
</div>
<div class="field" id=<%="#{type}accept_comunications" %>>
  <%= f.label :accept_comunications, Spree.t(:admin_accept_comunications) %>
  <%= f.check_box :accept_comunications %>
</div>


