<% if current_store.rgpd.present? %>
	<div class="form-group" id="accept_terms_and_condition">
		<%= f.check_box :accept_terms_and_conditions, class: 'required', required: true,  style: "width:auto" %>
	  <%= f.label :accept_terms_and_conditions, current_store.rgpd.terms_and_conditions_text %>
	  <span><a href="<%= current_store.rgpd.link_to_terms_and_conditions %>" id='link_to_acept_terms_and_conditions'><%= current_store.rgpd.link_text %></a></span><span class="required">*</span>
	</div>
	<div class="form-group" id="accept_comunications">
		<%= f.check_box :accept_comunications , style: "width:auto" %>
		<%= f.label :accept_comunications, current_store.rgpd.accept_comunications_text %>
	</div>
<% end %>